doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/javascripts/EJSCharts-master/EJSChart.css')
    link(rel='stylesheet', href='/javascripts/EJSCharts-master/examples/includes/template.css')
    script(type='text/javascript' src='/javascripts/EJSCharts-master/EJSChart.min.js')
    script(type='text/javascript' src='/javascripts/EJSCharts-master/examples/includes/code.js')
  body
    block content